@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base{
  .my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev { 
  @apply w-8 h-8 bg-gray-300 rounded-full text-white 
}

.my-swiper-button-next:after, .my-swiper-rtl .swiper-button-prev:after {
  font-size: 16px
}

.my-swiper .swiper-pagination-bullet-active {
  background-color:#4cb087
}


}

.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
  font-size: 16px !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  font-size: 16px !important;

}



  
